@model IEnumerable<WidgetsERPSite.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Company)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Company)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_InvoiceNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_InvoiceNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_InvoiceNo })
        </td>
    </tr>
}

</table>
